<footer>

    <div class="formContainer">
        <div class="formAll">
            <div class="leftText">
                <h3>Se inscriba na newsletter</h3>
                <p>Receba no seu e-mail nossas novidades e cupons de desconto.</p>
            </div>

            <form class="formStyle">
                <input class="emailInput" type="text" name="name" placeholder="Digite seu nome">
                <input class="emailInput" type="email" name="email" placeholder="Digite seu e-mail" />
                <input class="emailInput" type="text" name="game" placeholder="Qual seu videogame?" />
                <button class="btnSend" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
    <!--formContainer-->

    <div class="container">
        <div class="institucional">
            <h5>Institucional</h5>
            <a href="#">Fale conosco</a>
            <a href="#">Cupons</a>
            <a href="#">Frete grátis</a>
            <a href="#">Lojas oficiais</a>
            <a href="#">Sobre nós</a>
            <a href="#">Tabela de medidas</a>
            <a href="#">Trocas e devoluções</a>
        </div>
        <div class="ajuda">
            <h5>Ajuda</h5>
            <a href="#">Perguntas frequentes</a>
            <a href="#">Termos de uso</a>
            <a href="#">Políticas de privacidade</a>
            <a href="#">Como comprar</a>
        </div>
        <div class="atendimento">
            <h5>Atendimento</h5>
            <a href="#" class="tel">Telefone: (11)99999-0000</a>
            <a href="#" class="whats">Whatsapp: (11)99999-0000</a>
            <a href="#" class="email">Email: contato@wedigi.com.br</a>
            <div class="redes">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
        <div class="sigawedigi">
            <h5>Siga @wedigi <i class="siga fab fa-instagram"></i></h5>
            <div class="footerimg">
                <img src="/images/footer-stray.png" alt="stray">
                <img src="/images/footer-xbox.jpg" alt="xbox">
                <img src="/images/footermk.jpg" alt="mario kart">
            </div>
        </div>
    </div>
    <!--container-->

    <div class="footerBottom">
        <div class="container">
            <div class="allrights">
                <p class="bottomTitle">DOG TRIP BRASIL - CNPJ 33.912-013/0001-96</p>
                <p>Todos os direitos reservados</p>
            </div>

            <div class="cartoes">
                <img src="images/visa.svg" alt="visa">
                <img src="images/masterok.svg" alt="mastercard">
                <img src="images/elo.svg" alt="elo">
                <img src="images/diners.svg" alt="diners">
                <img src="images/amex.svg" alt="amex">
                <img src="images/barcode.svg" alt="barcode">
            </div>

            <div class="footerBottomLogos">
                <img src="images/footervtexlogo.png" alt="logo vtex">
                <img src="images/footerwedigi.png" alt="logo wedigi">
            </div>
        </div>
        <!--container-->
    </div>
</footer>

<script src="/javascript/owl/jquery.min.js"></script>
<script src="/javascript/owl/owl.carousel.min.js"></script>
<script src="/javascript/owl/main.js"></script>
<script src="/javascript/toggle-menu.js"></script>
<script src="/javascript/biblioteca.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</body>

</html>