<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style-navbar.css">
    <link rel="stylesheet" href="/stylesheets/style-footer.css">
    <script src="https://kit.fontawesome.com/fb10d770ed.js" crossorigin="anonymous"></script>    
    <link rel="stylesheet" href="/stylesheets/owl/owlbox.css">
    <link rel="stylesheet" href="/stylesheets/style-form-footer.css">
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <link rel="stylesheet" href="/stylesheets/style-biblioteca.css">
    <link rel="stylesheet" href="/stylesheets/style-categoria.css">
    <link rel="stylesheet" href="/stylesheets/style-product.css">
    <link rel="stylesheet" href="/stylesheets/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/owl/owl.theme.default.min.css">
    <title><%= title.toUpperCase() %> </title>
</head>