<body>
  <header>
    <div class="headerTitle">
      <img src="/images/camiao2.png" alt="frete">
      <p>Frete grátis a partir de R$ 170,00</p>
    </div>

    <div class="fullHeader">

      <div class="mainHeader">
        <nav class="navbar">
          <div class="brand-title">
            <a href="/"><img src="/images/footerwedigi.png" alt="W3 Academia dos Vinhos"></a>
          </div>
          <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
          </a>
          <div class="navbar-links">
            <ul>
              <li><a href="/acao">Ação</a></li>
              <li><a href="/aventura">Aventura</a></li>
              <li><a href="/rpg">RPG</a></li>
              <li><a href="/estrategia">Estratégia</a></li>
              <li><a href="/simulacao">Simulação</a></li>
              <li><a href="/biblioteca">Biblioteca</a></li>
              <li class="login"><a href="#">Login</a></li>
              <li class="checkout"><a href="#">Checkout</a></li>
            </ul>
          </div>
          
        </nav>
      </div>
      <!--mainHeader-->

      <div class="secondHeader">

        <div class="search">
          <i class="fas fa-search lupa"></i>
          <input type="text" class="searchInput" placeholder="Faça sua busca">
        </div>
        <div class="loginIcon">
          <a href="#"><i class="far fa-user usericon"></i></a>
        </div>
        <div class="loginIcon">
          <a href="#"><i class="fas fa-shopping-basket"></i> </a>
        </div>

      </div>
      <!--secondHeader-->

    </div>
    <!--fullHeader-->

  </header>