<%- include("./partials/header") %>
    <%- include("./partials/nav") %>

        <!--Inicio Home-->

        <section>
            <div class="acao">
                <ol class="breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a class="breadSpan" href="/estrategia">Estratégia</a></li>                        
                  </ol>                
                <div class="categoria-info">                    
                    <h2>Estratégia</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam modi illo totam cum voluptatum
                        voluptate dolorum dolorem vero, voluptatibus officiis incidunt, deserunt laboriosam eos labore
                        dolor eaque nesciunt exercitationem ipsa. .Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Ipsam pariatur, veritatis exercitationem placeat atque provident nemo culpa! Obcaecati,
                        rem? Provident odit unde ipsum beatae sit ipsam odio dicta nihil sapiente?</p>
                </div>

                <div class="acao-img">
                    <img src="/images/categoria-blood.jpg" alt="bloodborne">
                </div>

            </div>

        </section>


        <section>
            <div class="categoria-header">
                <div class="categoria-contenedor">
                    <div class="filtrar">
                        <i class="fas fa-tasks"></i>
                        <p>Filtrar Busca</p>
                    </div>
                    <div class="encontramos">
                        <p>Encontramos 150 jogos para você se divertir</p>
                    </div>
                    <div class="ordenar">
                        <i class="fas fa-sort-amount-up-alt"></i>
                        <p>Ordenar Por</p>
                    </div>
                </div>
            </div>

            <div class="categoria-container">
                <div class="categoria-destaque">
                    <span class="newsResident">25% off</span>
                    <div class="categoria-image categoria-1"></div>
                    <h3>Ubisoft</h3>
                    <h2>Watch Dogs 2 - PS4</h2>
                    <p class="payment">R$259,90</p>
                    <p>R$199,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="categoria-destaque">
                    <span class="newsResident">25% off</span>
                    <div class="categoria-image categoria-2"></div>
                    <h3>Crystal Dynamics</h3>
                    <h2>Rise of Tomb Raider - Xbox One</h2>
                    <p class="payment">R$259,90</p>
                    <p>R$199,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="categoria-destaque">
                    <span class="newsResident">25% off</span>
                    <div class="categoria-image categoria-3"></div>
                    <h3>Rocksteady Studios</h3>
                    <h2>Batman: Arkham Knight - PS4</h2>
                    <p class="payment">R$259,90</p>
                    <p>R$199,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="categoria-destaque">
                    <span class="newsResident">25% off</span>
                    <div class="categoria-image categoria-4"></div>
                    <h3>Ubisoft</h3>
                    <h2>Assassin´s Creed Origins - PC</h2>
                    <p class="payment">R$259,90</p>
                    <p>R$199,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

            </div>
            <!--categoria-container-->

            <div class="row-gap"></div>

            <div class="categoria-container">
                <div class="categoria-destaque">
                    <span class="newsResident">25% off</span>
                    <div class="categoria-image categoria-5"></div>
                    <h3>Noughty Dog</h3>
                    <h2>Uncharted 4 - A Thief´s End - PC</h2>
                    <p class="payment">R$259,90</p>
                    <p>R$199,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="categoria-destaque">
                    <span class="newsResident">25% off</span>
                    <div class="categoria-image categoria-6"></div>
                    <h3>FromSoftware</h3>
                    <h2>Bloodborne - PS4</h2>
                    <p class="payment">R$259,90</p>
                    <p>R$199,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="categoria-destaque">
                    <span class="newsResident">25% off</span>
                    <div class="categoria-image categoria-7"></div>
                    <h3>Ninja Theory</h3>
                    <h2>Hellblade: Sensua´s Sacrifice - PC</h2>
                    <p class="payment">R$259,90</p>
                    <p>R$199,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="categoria-destaque">
                    <span class="newsResident">25% off</span>
                    <div class="categoria-image categoria-8"></div>
                    <h3>Insomniac Games</h3>
                    <h2>Marvel´s Spider-Man - PS4</h2>
                    <p class="payment">R$259,90</p>
                    <p>R$199,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

            </div>
            <!--categoria-container-->


            <div class="row-gap"></div>

            <div class="categoria-container">
                <div class="categoria-destaque">
                    <span class="newsResident">25% off</span>
                    <div class="categoria-image categoria-1"></div>
                    <h3>Ubisoft</h3>
                    <h2>Watch Dogs 2 - PS4</h2>
                    <p class="payment">R$259,90</p>
                    <p>R$199,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="categoria-destaque">
                    <span class="newsResident">25% off</span>
                    <div class="categoria-image categoria-2"></div>
                    <h3>Crystal Dynamics</h3>
                    <h2>Rise of Tomb Raider - Xbox One</h2>
                    <p class="payment">R$259,90</p>
                    <p>R$199,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="categoria-destaque">
                    <span class="newsResident">25% off</span>
                    <div class="categoria-image categoria-3"></div>
                    <h3>Rocksteady Studios</h3>
                    <h2>Batman: Arkham Knight - PS4</h2>
                    <p class="payment">R$259,90</p>
                    <p>R$199,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="categoria-destaque">
                    <span class="newsResident">25% off</span>
                    <div class="categoria-image categoria-4"></div>
                    <h3>ubisoft</h3>
                    <h2>Assassin´s Creed Origins - PC</h2>
                    <p class="payment">R$259,90</p>
                    <p>R$199,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

            </div>
            <!--categoria-container-->

            <div class="row-gap"></div>

            <div class="categoria-container">
                <div class="categoria-destaque">
                    <span class="newsResident">25% off</span>
                    <div class="categoria-image categoria-5"></div>
                    <h3>Noughty Dog</h3>
                    <h2>Uncharted 4 - A Thief´s End - PC</h2>
                    <p class="payment">R$259,90</p>
                    <p>R$199,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="categoria-destaque">
                    <span class="newsResident">25% off</span>
                    <div class="categoria-image categoria-6"></div>
                    <h3>FromSoftware</h3>
                    <h2>Bloodborne - PS4</h2>
                    <p class="payment">R$259,90</p>
                    <p>R$199,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="categoria-destaque">
                    <span class="newsResident">25% off</span>
                    <div class="categoria-image categoria-7"></div>
                    <h3>Ninja Theory</h3>
                    <h2>Hellblade: Sensua´s Sacrifice - PC</h2>
                    <p class="payment">R$259,90</p>
                    <p>R$199,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="categoria-destaque">
                    <span class="newsResident">25% off</span>
                    <div class="categoria-image categoria-8"></div>
                    <h3>Insomniac Games</h3>
                    <h2>Marvel´s Spider-Man - PS4</h2>
                    <p class="payment">R$259,90</p>
                    <p>R$199,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

            </div>
            <!--categoria-container-->

        </section>


        <section>
            <div class="categoria-footer">

                <div class="footer-img">
                    <img src="/images/categoria-xbox-footer.jpg" alt="xbox">
                </div>

                <div class="footer-info">
                    <h2>Como escolher o videogame ideal para você? <br>Descubra dicas infalíveis!</br></h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam modi illo totam cum voluptatum
                        voluptate dolorum dolorem vero, voluptatibus officiis incidunt, deserunt laboriosam eos labore
                        dolor eaque nesciunt exercitationem ipsa. .Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Ipsam pariatur, veritatis exercitationem placeat atque provident nemo culpa! Obcaecati,
                        rem? Provident odit unde ipsum beatae sit ipsam odio dicta nihil sapiente?</p>
                </div>



            </div>

        </section>



        <%- include("./partials/footer") %>