<%- include("./partials/header") %>
    <%- include("./partials/nav") %>

        <!--Inicio Home-->

        <section>
            <div class="product-page-principal">
                <div class="product-page">
                    <div class="product-image product-1"></div>
                    <div class="info-product">
                        <h2>Resident Evil Village</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque, suscipit? Eaque ea laborum
                            suscipit blanditiis nisi sequi animi iure perferendis quibusdam ullam, fugit mollitia
                            asperiores, vitae repudiandae delectus eos similique?</p>
                    </div>
                </div>
            </div>
        </section>


        <section class="product-slider">
            <div class="owl-two">
                <div class="owl-carousel owl-product-slider owl-config2 owl-theme">
                    <div class="item product-item"><img class="second-owl" src="/images/product-slider-resident.jpg"
                            alt="resident-snapshot"></div>
                    <div class="item product-item"><img class="second-owl" src="/images/product-slider-resident2.jpg"
                            alt="resident-snapshot"></div>
                    <div class="item product-item"><img class="second-owl" src="/images/product-slider-resident3.jpg"
                            alt="resident-snapshot"></div>
                    <div class="item product-item"><img class="second-owl" src="/images/product-slider-resident4.jpg"
                            alt="resident-snapshot"></div>
                    <div class="item product-item"><img class="second-owl" src="/images/product-banner-resident.jpg"
                            alt="resident-snapshot"></div>
                </div>
            </div>
        </section>



        <section class="product-description">
            <div class="description-container">
                <div class="main-desc">
                    <h2 class="titulo-produto-destacado">Descricao</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, dolores animi?
                        Velit.<br><br><br>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum porro aut
                        nulla eligendi similique atque vitae ullam ea impedit vel esse voluptatem libero quos laborum
                        neque officiis qui, molestias minima.</br></p>
                </div>

                <div class="main-details">
                    <h2 class="titulo-produto-destacado">Detalhes</h2>
                    <div class="game-details">
                        <div class="general-details">
                            <p>Plataforma:</p>
                            <p>Lancamento:</p>
                            <p>Desenvolvedor:</p>
                            <p>Género:</p>
                            <p>Voz:</p>
                            <p>Idiomas da Tela:</p>
                        </div>
                        <div class="description-details">
                            <p>PS4, PS5</p>
                            <p>07/05/2021</p>
                            <p>Capcom U.S.A.,Inc</p>
                            <p>Acao, Terror</p>
                            <p class="voz">Alemao,Espanhol,Frances(Franca),Inglés</p>
                            <p class="idioma">Alemao,Espanhol,Frances(Franca),Inglés</p>
                        </div>
                    </div>
                    <!--game-details-->
                </div>
                <!--main-details-->
            </div>
        </section>



        <section>
            <div class="titulos-destacados">
                <h1>Voce também deve gostar de</h1>
            </div>

            <div class="destaques-container">
                <div class="card-destaque">
                    <span class="newsResident">25% off</span>
                    <div class="destaque-image destaque-1"></div>
                    <h3>Capcom</h3>
                    <h2>Resident Evil Village - Xbox One</h2>
                    <p class="payment">R$259</p>
                    <p>R$199,9</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="card-destaque">
                    <span class="newsHitman">Últimas Unidades</span>
                    <div class="destaque-image destaque-2"></div>
                    <h3>IO Interactive</h3>
                    <h2>Hitman 3 - Windows</h2>
                    <p>R$329,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="card-destaque">
                    <span class="newsAge">Novidade</span>
                    <div class="destaque-image destaque-3"></div>
                    <h3>Xbox Game Studios</h3>
                    <h2>Age of Empires IV - Windows</h2>
                    <p>R$599,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="card-destaque">
                    <span class="newsStray">50% off</span>
                    <div class="destaque-image destaque-4"></div>
                    <h3>BlueTwelve Studio</h3>
                    <h2>Stray - PS4/PS5</h2>
                    <p class="payment">R$259,90</p>
                    <p>R$125,49</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="card-destaque">
                    <span class="newsDeath">Novidade</span>
                    <div class="destaque-image destaque-5"></div>
                    <h3>Bethesda Softworks</h3>
                    <h2>Deathlopp - Windows</h2>
                    <p>R$467,67</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->
            </div>

            <div class="row-gap-product"></div>

        </section>



        <%- include("./partials/footer") %>