<%- include("./partials/header") %>
    <%- include("./partials/nav") %>

        <!--Inicio Home-->

        <section>
            <div class="main-slide">
                <div class="owl-carousel owl-config owl-theme">
                    <div class="item">
                        <div class="slider-principal">
                            <div class="slider">
                                <div class="slider-image slider-1"></div>
                                <div class="info-slider">
                                    <h2>Red Dead Redemption II</h2>
                                    <p>Já disponível para <span>Playstation</span> e <span>PC</span></p>
                                    <a href="/game_rdr">Comprar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--item-->
                    <div class="item">
                        <div class="slider-principal">
                            <div class="slider">
                                <div class="slider-image slider-2"></div>
                                <div class="info-slider">
                                    <h2>Resident Evil Village</h2>
                                    <p>Já disponível para <span>Playstation</span> e <span>PC</span></p>
                                    <a href="/game_resident_evil">Comprar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--item-->
                    <div class="item">
                        <div class="slider-principal">
                            <div class="slider">
                                <div class="slider-image slider-3"></div>
                                <div class="info-slider">
                                    <h2>Hitman 3</h2>
                                    <p>Já disponível para <span>Playstation</span> e <span>PC</span></p>
                                    <a href="/game_hitman">Comprar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--item-->
                </div>
            </div>
        </section>
        <!--main slider-->

        <section class="main">
            <div class="titulos-destacados">
                <h1>Destaques da Semana</h1>
            </div>
            <div class="destaques-container">
                <div class="card-destaque">
                    <span class="newsResident">25% off</span>
                    <div class="destaque-image destaque-1"></div>
                    <h3>Capcom</h3>
                    <h2>Resident Evil Village - Xbox One</h2>
                    <p class="payment">R$259</p>
                    <p>R$199,9</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="card-destaque">
                    <span class="newsHitman">Últimas Unidades</span>
                    <div class="destaque-image destaque-2"></div>
                    <h3>IO Interactive</h3>
                    <h2>Hitman 3 - Windows</h2>
                    <p>R$329,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="card-destaque">
                    <span class="newsAge">Novidade</span>
                    <div class="destaque-image destaque-3"></div>
                    <h3>Xbox Game Studios</h3>
                    <h2>Age of Empires IV - Windows</h2>
                    <p>R$599,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="card-destaque">
                    <span class="newsStray">50% off</span>
                    <div class="destaque-image destaque-4"></div>
                    <h3>BlueTwelve Studio</h3>
                    <h2>Stray - PS4/PS5</h2>
                    <p class="payment">R$259,90</p>
                    <p>R$125,49</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="card-destaque">
                    <span class="newsDeath">Novidade</span>
                    <div class="destaque-image destaque-5"></div>
                    <h3>Bethesda Softworks</h3>
                    <h2>Deathlopp - Windows</h2>
                    <p>R$467,67</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->
            </div>
        </section>

        <section>
            <div class="titulos-destacados">
                <h1>Busque por plataforma</h1>
            </div>
            <div class="plataforma-container">
                <div class="plataforma-destaque">
                    <div class="plataforma-image plataforma-1"></div>
                </div>
                <!--card-destaque-->

                <div class="plataforma-destaque">
                    <div class="plataforma-image plataforma-2"></div>
                </div>
                <!--card-destaque-->

                <div class="plataforma-destaque">
                    <div class="plataforma-image plataforma-3"></div>
                </div>
                <!--card-destaque-->

                <div class="plataforma-destaque">
                    <div class="plataforma-image plataforma-4"></div>
                </div>
                <!--card-destaque-->
            </div>
        </section>






        </section>

        <section>
            <div class="banner-titular">
                <div class="banner">
                    <div class="banner-image banner-1"></div>
                    <span class="emBreve">Em breve</span>
                    <div class="info-banner">
                        <h2>Vem aí em Outubro <br>FarCry 6</br></h2>
                        <p>para Xbox One, PS4 e PC</p>
                        <a href="#">Reservar</a>
                    </div>
                </div>
        </section>


        <section>
            <div class="titulos-destacados">
                <h1>Em alta</h1>
            </div>
            <div class="plataforma-container">
                <div class="card-destaque">
                    <span class="newsResident">25% off</span>
                    <div class="destaque-image destaque-1"></div>
                    <h3>Capcom</h3>
                    <h2>Resident Evil Village - Xbox One</h2>
                    <p class="payment">R$259</p>
                    <p>R$199,9</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="card-destaque">
                    <span class="newsHitman">Últimas Novidades</span>
                    <div class="destaque-image destaque-2"></div>
                    <h3>IO Interactive</h3>
                    <h2>Hitman 3 - Windows</h2>
                    <p>R$329,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="card-destaque">
                    <span class="newsAge">Novidade</span>
                    <div class="destaque-image destaque-3"></div>
                    <h3>Xbox Game Studios</h3>
                    <h2>Age of Empires IV - Windows</h2>
                    <p>R$599,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="card-destaque">
                    <span class="newsStray">50% off</span>
                    <div class="destaque-image destaque-4"></div>
                    <h3>BlueTwelve Studio</h3>
                    <h2>Stray - PS4/PS5</h2>
                    <p class="payment">R$259,90</p>
                    <p>R$125,49</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="card-destaque">
                    <span class="newsDeath">Novidade</span>
                    <div class="destaque-image destaque-5"></div>
                    <h3>Bethesda Softworks</h3>
                    <h2>Deathlopp - Windows</h2>
                    <p>R$467,67</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->
            </div>
        </section>


        <section>
            <div class="cards">
                <div class="card">
                    <div class="card-image card-1"></div>
                    <div class="information">
                        <h2>Sessão Nostalgia</h2>
                        <p>Encontre os jogos favoritos da sua infância</p>
                        <a href="#">Saiba mais</a>
                    </div>
                </div>
                <!--card-->

                <div class="card">
                    <div class="card-image card-2"></div>
                    <div class="information">
                        <h2>No clima das Olimpíadas</h2>
                        <p>Os melhores jogos esportivos estão aqui</p>
                        <a href="#">Saiba mais</a>
                    </div>
                </div>
                <!--card-->
            </div>

        </section>

        <section>
            <div class="titulos-destacados">
                <h1>Aproveite nossas promoções</h1>
            </div>
            <div class="plataforma-container">
                <div class="card-destaque">
                    <span class="newsResident">25% off</span>
                    <div class="destaque-image destaque-1"></div>
                    <h3>Capcom</h3>
                    <h2>Resident Evil Village - Xbox One</h2>
                    <p class="payment">R$259</p>
                    <p>R$199,9</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="card-destaque">
                    <span class="newsHitman">Últimas Novidades</span>
                    <div class="destaque-image destaque-2"></div>
                    <h3>IO Interactive</h3>
                    <h2>Hitman 3 - Windows</h2>
                    <p>R$329,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="card-destaque">
                    <span class="newsAge">Novidade</span>
                    <div class="destaque-image destaque-3"></div>
                    <h3>Xbox Game Studios</h3>
                    <h2>Age of Empires IV - Windows</h2>
                    <p>R$599,90</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="card-destaque">
                    <span class="newsStray">50% off</span>
                    <div class="destaque-image destaque-4"></div>
                    <h3>BlueTwelve Studio</h3>
                    <h2>Stray - PS4/PS5</h2>
                    <p class="payment">R$259,90</p>
                    <p>R$125,49</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->

                <div class="card-destaque">
                    <span class="newsDeath">Novidade</span>
                    <div class="destaque-image destaque-5"></div>
                    <h3>Bethesda Softworks</h3>
                    <h2>Deathlopp - Windows</h2>
                    <p>R$467,67</p>
                    <p class="juros">em até 3x de R$48,90 sem juros</p>
                </div>
                <!--card-destaque-->
            </div>
            <div class="row-gap-main"></div>
        </section>

        <!--Fim Home-->

        <%- include("./partials/footer") %>